<h1><%= @application.title %></h1>
 <p><%= @application.url %></p>


 <%= link_to "Delete Aplication", @application, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this application?'} %>
